<html>
    <head>
        <title>Vheart</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
    
        <!-- Home Section -->
        <div class="pageHome" id="home">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="#">
                    <img class="menuCM" src="images/classmateLogo.png" alt="">
                </a>
                
                <a class="navbar-brand" href="#">
                    <img class="menuVH" src="images/vheartLogo.png" alt="">
                </a>
            </nav>
            
            <div class="container-fluid">
            
                <!-- Slogan + Buy button + product image -->
                <div class="homeContent row">
                    <div class="slogan col-sm-8 col-lg-5">
                        <h1>
                            給你信心的體驗<br> 
                            <hr>
                            全部現貨 無需等候   
                        </h1>
 
                        <a href="#checkout" class="btnBuy btn btn-warning btn-lg mt-5" role="button">立即購買</a>
                    </div>
                    
                    <div class="product col-sm-8 col-lg-5">
                        <img class="img-fluid" src="images/product.png" alt="Product Image">
                    </div>
                </div>
                
                <!-- intro -->
                <div class="row">
                    <div class="col-12">
                        <h5 class="mt-0">Vheart 唯康健口罩選用優質的原材料，在生產品質及環境實行嚴格管控</h5>
                    </div>
                </div>
                
                <!-- Down arrow -->
                <div class="row">
                    <div class="col-12">
                        <h2><a href="#about" class="arrow fas fa-chevron-circle-down mt-1"></a></h2>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
        
        
        
        <!-- About Section -->
        <div class="pageAbout container-fluid" id="about">
            <!-- Top Row -->
            <div class="row">
            
                <!-- Left column -->
                <div class="col-sm-11 col-lg-4">
                    <img class="img-fluid" src="images/layers.png" alt="Layers Image">
                </div>
                
                <!-- Right column -->
                <div class="col-sm-11 col-lg-4">
                    <h4>第一層</h4>
                    <p>防潑水不織材質防止飛沫</p>

                    <h4>第二層</h4>
                    <p>過濾層有效阻隔≥99%細菌及顆粒</p>
                    
                    <h4>第三層</h4>
                    <p>柔軟不織布內層吸附呼吸時產生的水氣</p>
                </div>
                
            </div>
            
            
            <!-- Bottom Row -->
            <div class="row">
            
                <!-- Left column -->
                <div class="col-sm-11 col-lg-4">
                    <h4>香港製造</h4>
                    <p>產地: 香港<br>
                    柴灣自設廠房，真正香港製造 </p>
                    <br>
                    
                    <h4>符合美國ASTM標準Level 2</h4>
                    <p>細菌過濾效率(BFE)>=98<br>
                    微粒子過濾效率(PFE)>=98%<br>
                    100k潔淨工場符合 ISO14644-1:2015 class 8<br>
                    品質管理系統實行 ISO13485:2016</p>
                    <br>
                    
                    <h4>每盒$130</h4>
                    <p>口罩數量: 50個裝<br>
                    口罩尺寸為: 175mm x 95mm</p>
                </div>
                
                <!-- Right column -->
                <div class="col-sm-11 col-lg-4">
                    <img class="img-fluid" src="images/layers.png" alt="Layers Image">
                </div>
                
            </div>
            
        </div>
        
        
        
        
        
        
        <!-- Checkout Section -->
        <div class="pageCheckout" id="checkout">
            <div class="container text-center">
                <h1>Checkout</h1>
                <p>如訂購8盒以上，免順豐智能櫃運費</p>
                <p>未滿需收取$50運費</p>
                <p>先付款，後留貨</p>
                <a type="button" class="btn btn-primary btn-lg " href="https://wa.me/85263750760/?text=我要訂口罩"><i class="fab fa-whatsapp ml-2"></i>Whatsapp 訂購</a>
            </div>

            <div class="container">
                <h4> 1. Please fill out the following form:</h4>
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Name</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Phone Number</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Email</label>
                      <input type="text" class="form-control" id="inputEmail" placeholder="someone@email.com">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Quantity</label>
                        <input type="text" class="form-control" id="inputQuantity" placeholder="How many?">
                      </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
            </div>
        </div>
        
        
        
        
        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-5">
                    <img class="menuCM img-fluid" src="images/classmateLogo.png" alt="Classmate Logo">
                </div>
                <div class="col-5 contact">
                    <p>63750760</p><i class="fab fa-whatsapp ml-2"></i> <br>
                    <p>info@classmate.hk</p><i class="fa fa-envelope ml-2"></i>
                </div>
            </div>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
