<html>
    <head>
        <title>vHeart - Home </title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/colours.css">
        
    </head>
    <body>
        <!-- Welcome screen -->
        <div id="welcome">
            <nav class="navbar ml-43mt-2">
                <a class="navbar-brand" href="#">
                <img src="images/classmateLogo.png" width="250" height="80" alt="">
                <img src="images/vheartLogo.png" width="150" height="80" alt="">
                </a>
            </nav>
            <div class="row mt-5">
                <div class="col-6 transparent section text-center">
                    <div class="slogan">
                        <h1>
                            給你信心的體驗
                            <br><hr>
                            全部現貨 無需等候   
                        </h1>
                        <div class="buy-btn">
                            <a href="#checkout" class="btn btn-warning btn-lg mt-5" role="button">Buy Now</a>      
                        </div>
                    </div>  
                </div>

                <div class="col-6 transparent section">
                    <img class="product-img" src="images/product.png">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2><a href="#intro" class="fas fa-chevron-circle-down"></a></h2>
                </div>
            </div>
        </div>
        <!-- Welcome End -->

        <!-- Intro -->
        <div id="intro" class="container text-left mb-5">
            <div class="section-sm transparent mt-5">
                <h1 class="display-4">Intro</h1>
                <hr class="lower my-4">
                <h4>Intro text: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit amet accusamus accusantium iure quia quas porro ab itaque! Dicta neque cupiditate officia molestias non impedit, sint debitis provident doloribus nostrum.</h4>
            </div>

            <div class="row mt-5">
                <div class="section blue col-6 mr-1">
                    <h1 class="mt-3 text-center">About 1</h1>
                    <!-- <img class="menuLogo1" src="images/classmateLogo.png"> -->
                    <hr class=" lower mb-4">
                    <div class="text-left">
                        <p> About 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quam quaerat unde soluta hic dolore corporis quod necessitatibus tenetur numquam tempora velit tempore saepe illo aperiam, eius accusantium reprehenderit nemo.</p>
                    </div> 
                </div>

                <div class="section blue col-5 ml-1">
                    <h1 class="mt-3 text-center" >About 2</h1>
                    <hr class="lower mb-4"> 
                    <div class="text-left">
                        <p> About 2: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quam quaerat unde soluta hic dolore corporis quod necessitatibus tenetur numquam tempora velit tempore saepe illo aperiam, eius accusantium reprehenderit nemo.</p>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Intro end -->

        <!-- Anything section -->
        <!-- <div class="row">
            <div class="col-12">
                <div class="section black text-center">
                    <h1> anything</h1>
                </div>
            </div>
        </div> -->
        <!-- anything ends -->

        <!-- Buy/Checkout -->
        <div id="checkout" class="container">
            <div class="row">
                <div class="col-12 text-left">
                    <h1> Checkout</h1>
                    <hr class="lower my-4">
                    <h3 class="mb-5">Instructions to buy: Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero, odio animi commodi recusandae fuga quas ipsa! Voluptatum a repellendus incidunt, id, ex libero sunt optio amet aliquam pariatur ullam.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="qr" src="images/qr_payme.jpg" alt="">
                </div>
                <div class="col-4">
                    <img class="qr" src="images/qr_weishin.jpeg" alt="">
                </div>
                <div class="col-4">
                    <img class="qr" src="images/qr_chifu.jpeg" alt="">
                </div>
            </div>
        </div>
        <!-- checkout end -->
    
        <!-- footer -->
        <footer>
            <section class="container-fluid mt-5 px-0 transparent">
                <div class="row">
                    <div class="col-6 text-left">
                        <img class="logo ml-3" src="images/classmateLogo.png" alt="">
                    </div>
                    <div class="col-6 text-right">
                        <p>Email: test@email.com</p>
                    </div>
                    <br>
                </div>
            </section>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
