<!DOCTYPE html>
<html>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href= "/stylesheets/app.css">
    
    <body>
        <!-- HEADER-->
        <div class="header"></div>

        <!--JumboTron-->
        <div class="jumbotron" id="mainCard">
            <img src="/images/classmateLogo.png" class="mLogo" alt="Classmate Logo">
            <p class="slogan">slogan blah blah mask blah blah clean</p>
        </div>

        <!--Manufactur/Distributer-->
        <img class="miniLogo pDis" src="/images/pika.png">
        <img class="miniLogo pMan" src="/images/pika.png">
        <div class="row">
            <div class="mContainer column">
                <h5>Distributer</h5>
            </div>
            <div class="mContainer column">
                <h5>Manufactur</h5>
            </div>
        </div>
        
        <!--Featured Item-->
        <section class="fContainer">
            <div class="row">
                <section class="itemImage column">
                    <img class="itemImage image1" src="/images/vheart.jpg">
                </section>
                <section class="itemDescription column">
                    <h1 class="description">Item Name</h1>
                    <h4 class="description">PRICE: $28</h4>
                    <p class="description small">Description: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget </p>
                    <button type="button" class="btn btn-secondary">Pay With PayPal</button>
                    <button type="button" class="btn btn-secondary">Pay With Google</button>
                    <button type="button" class="btn btn-secondary">Pay With Apple</button>
                    </section>
                </section>
            </div>
        </section>

        <br/>
        <div class="row">
        <!--About Us-->
            <section class="aContainer column">
                <br/>
                <h1 class="title">About Us</h1>
                <p class="description small">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </section>

            <!--Subscrition Newsletter-->
            <section class="container column">
                <section class="sub">
                    <br/>
                    <!--BELL ICON-->
                    <svg class="bi bi-bell" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>

                    <h2 class="subheading">
                        Please Subscribe for Updates
                    </h2>
                    <p>Sign-up with your email to get updates</p>
                    <form>
                        <input type='text' placeholder="Enter Your Email">
                        <button type="button" class="btn btn-secondary">Subscribe</button>
                    </form>
                </section>
            </section>
        </div>
        <br/>
        <br/>
        <br/>

        <!--Footer-->
        <footer class="blackFoot">
            <p class="whiteText">Copyright @EDWIN,HARRI,MARCO</p>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>