<%- include ("./partials/header") %>
    <body>
    
        <!-- Home Section -->
        <div class="pageHome" id="home">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="#">
                    <img class="menuCM" src="images/classmateLogo.png" alt="">
                </a>
                
                <a class="navbar-brand" href="#">
                    <img class="menuVH" src="images/vheartLogo.png" alt="">
                </a>
            </nav>
            
            <div class="container-fluid">
            
                <!-- Slogan + Buy button + product image -->
                <div class="homeContent row">
                    <div class="slogan col-sm-8 col-lg-5">
                        <h1>
                            給你信心的體驗<br> 
                            <hr>
                            全部現貨 無需等候   
                        </h1>
 
                        <a href="#checkout" class="btnBuy btn btn-warning btn-lg mt-5" role="button">立即購買</a>
                    </div>
                    
                    <div class="product col-sm-8 col-lg-5">
                        <img class="productImg img-fluid" src="images/product.png" alt="Product Image">
                    </div>
                </div>
                
                <!-- intro -->
                <div class="row">
                    <div class="col-12">
                        <h5 class="mt-0">Vheart 唯康健口罩選用優質的原材料，在生產品質及環境實行嚴格管控</h5>
                    </div>
                </div>
                
                <!-- Down arrow -->
                <div class="row">
                    <div class="col-12">
                        <h2><a href="#about" class="arrow fas fa-chevron-circle-down mt-1"></a></h2>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
        <!-- About Section -->
        <div class="pageAbout container-fluid" id="about">
            <!-- Top Row -->
            <div class="row">
            
                <!-- Left column -->
                <div id="mask1" class="col-sm-11 col-lg-4">
                    <img class="img-fluid" src="images/layers.png" alt="Layers Image">
                </div>
                
                <!-- Right column -->
                <div id="mask-txt1" class="col-sm-11 col-lg-4">
                    <h4>第一層</h4>
                    <p>防潑水不織材質防止飛沫</p>

                    <h4>第二層</h4>
                    <p>過濾層有效阻隔≥99%細菌及顆粒</p>
                    
                    <h4>第三層</h4>
                    <p>柔軟不織布內層吸附呼吸時產生的水氣</p>
                </div>
                
            </div>
            
            
            <!-- Bottom Row -->
                
            <div class="row">
                <div id="mask2" class="col-sm-11 col-lg-4 order-lg-2">
                    <img class="img-fluid" src="images/mask.png" alt="Layers Image">
                </div>
                <!-- Left column -->
                <div id="mask-txt2" class="col-sm-11 col-lg-4 order-lg-1">
                    <h4>香港製造</h4>
                    <p>產地: 香港<br>
                    柴灣自設廠房，真正香港製造 </p>
                    <br>
                    
                    <h4>符合美國ASTM標準Level 2</h4>
                    <p>細菌過濾效率(BFE)>=98<br>
                    微粒子過濾效率(PFE)>=98%<br>
                    100k潔淨工場符合 ISO14644-1:2015 class 8<br>
                    品質管理系統實行 ISO13485:2016</p>
                    <br>
                    
                    <h4>每盒$130</h4>
                    <p>口罩數量: 50個裝<br>
                    口罩尺寸為: 175mm x 95mm</p>
                </div>
                
                <!-- Right column -->
                
                
            </div>
            
        </div>
        
        
        
        
        
        
        <!-- Checkout Section -->
        <div class="pageCheckout" id="checkout">
            <div class="checkoutInfo container text-center">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <h1>立即購買</h1><hr>
                        
                        <h5>此優惠只適用於學校、老師、家長教師會及團體訂購</h5><br>
                        <p>如訂購8盒以上，免順豐智能櫃運費</p>
                        <p>未滿需收取$50運費</p>
                        <p>先付款，後留貨</p>
                        <a type="button" class="btn btn-success btn-lg" href="https://wa.me/85263750760/?text=我要訂口罩"><i class="fab fa-whatsapp ml-1"></i> Whatsapp 訂購</a>
                        <h3>或</h3>
                        <a type="button" onClick="showForm()" class="btn btn-secondary btn-lg" ><i class="fab fa-wpforms ml-1"></i> 網上訂購</a>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="container text-left" id="form">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">名稱</label>
                                        <input type="text" class="form-control" id="inputName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone">電話號碼</label>
                                        <input type="text" class="form-control" id="inputPhone">
                                   </div>
                                </div>
                                
                                <div class="form-group">
                                  <label for="email">電郵</label>
                                  <input type="email" class="form-control" id="inputEmail" placeholder="johndoe@email.com">
                                </div>
                                
                                <div class="form-group">
                                    <label for="quantity">數量(盒)</label>
                                    <input type="number" min="0" max="1000" class="form-control" id="inputQuantity" placeholder="0" >
                                </div>
                                
                                <div class="form-group">
                                    <label for="address">送貨地址</label>
                                    <input type="text" class="form-control" id="inputAddress">
                                </div>
                                
                                <div class="form-row">
                                    <div class="container col-6">
                                        <p id="perBox">0盒: $0</p>
                                        <p id="shipping">運費: $0</p>
                                        <hr id="checkoutHR">
                                        <p id="total">總額: $0</p>
                                         <button type="button" onClick="showPayment()" href="#" class="btn btn-primary">付款</button>  
                                    </div>

                                    <div class="container col-6" id="payment">
                                        <select id="methods">
                                            <option value="option1">順豐</option>
                                            <option value="option2">轉數快</option>
                                            <option value="option3">Payme</option>
                                            <option value="option4">微信</option>
                                            <option value="option5">支付寶</option>
                                        </select>
                            
                                        <div id="option1" class="group">運費到付 (買家自付)</div>
                                        <div id="option2" class="group">63750760</div>
                                        <div id="option3" class="group"><img class="img-fluid" src="images/qr_payme.jpg"></div>
                                        <div id="option4" class="group"><img class="img-fluid" src="images/qr_weishin.jpeg"></div>
                                        <div id="option5" class="group"><img class="img-fluid" src="images/qr_chifu.jpeg"></div>
                                    </div>
                                </div>
                                
                            </form>
                                                                                
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
<%- include ("./partials/footer") %>