<html>
    <head>
        <title>vHeart - Home </title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/colours.css">
        
    </head>
    <body>
        <div id="intro" class="jumbotron">
            <img src="/images/classmateLogo.png" class="d-inline-block align-top" alt="" loading="lazy">

            <div class="container">
                <hr class="my-4">
            </div>
            <p> Some Text About Stuff</p>

            <a class="btn purple btn-lg" href="#" role="button">Learn more</a>
        </div>

        <div class="container text-center mb-5">

            <div class="section-sm transparent mt-5">
                <h1 class="display-4">給你信心的體驗</h1>
                <hr class="my-4">
                <h4>Vheart口罩選用優質的原材料，在生產品質及環境實行嚴格管控</h4>
            </div>

            <div class="section py-4 mb-5">
                <img class="product-img mt-5" src="/images/vheart.jpg" alt="">
            </div>

            <div class="row">
                <div class="section red col-7 pt-5 mr-5 ml-3">
                    <h1 class="pb-2">唯康健 三層口罩</h1>
                    <hr class="mb-4">
                    <div class="text-left pl-5">
                        <p>產地: 香港</p>
                        <p>口罩數量: 50個裝</p>
                        <p>口罩尺寸為 175mm x 95mm</p>
                    </div> 
                </div>

                <div class="section green col-4 pt-5">
                    <h1 class="pb-2" >口罩規格</h1>
                    <hr class="mb-4"> 
                    <div class="text-left pl-5">
                        <p>符合美國ASTM標準Level 2</p>
                        <p>細菌過濾效率(BFE) >= 98%</p>
                        <p>微粒子過濾效率(PFE) >=98%</p>
                        <p>柴灣自設廠房，真正香港製造，100k潔淨工場符合 ISO14644-1:2015 class 8</p>
                        <p>品質管理系統實行 ISO13485:2016</p>
                    </div> 
                </div>
            </div>

        </div>
        
        <!-- footer -->
        <footer>
            <section class="container-fluid px-0 black">
                <div class="text-center">
                    <br>
                    <p>Email: test@email.com | &copy May 2020</p>
                    <br>
                </div>
            </section>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
