<!DOCTYPE html>
<html>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href= "/stylesheets/app.css">
    
    <body>
        <!-- HEADER-->
        <div class="header"></div>

        <!--JumboTron-->
        <div class="jumbotron" id="mainCard">
            <img src="/images/classmateLogo.png" class="mLogo" alt="Classmate Logo">
            <p class="slogan">slogan blah blah mask blah blah clean</p>
        </div>

        <!--Featured Item-->
        <section class="fContainer">
            <div class="row">
                <section class="itemImage column">
                    <h1>Item Image</h1>
                </section>
                <section class="itemDescription column">
                    <h1 class="description">Item Name</h1>
                    <h3 class="description">PRICE: $28</h3>
                    <p class="description">Description: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <button class="btn" role="button">Pay with ...</button>
                </section>
            </div>
        </section>

        <br/>
        <div class="row">
        <!--About Us-->
            <section class="aContainer column">
                <br/>
                <h1 class="title">About Us</h1>
                <p class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </section>

            <!--Subscrition Newsletter-->
            <section class="container column">
                <section class="sub">
                    <br/>
                    <h1 class="LOGO">
                        LOGO
                    </h1>
                    <h2 class="subheading">
                        Please Subscribe for Updates
                    </h2>
                    <p>Sign-up with your email to get updates</p>
                    <form>
                        <input type='text' placeholder="Enter Your Email">
                        <button class="btn" role="button">Subscribe</button>
                    </form>
                </section>
            </section>
        </div>
        <br/>
        <br/>
        <br/>

        <!--Footer-->
        <footer class="blackFoot">
            <p class="whiteText">Copyright @EDWIN,HARRI,MARCO</p>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>