<%- include ("./partials/header") %>
    <div class="container text-left" id="reviewform">
        <form>
            <div class="form-row">
                <h1>REVIEW</h1><br>

                <label for="name">名稱</label><br>
                <input type="text" class="form-control" id="inputName">

                <label for="email">電郵</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="johndoe@email.com">


            </div>
        </form>
    </div>

<%- include ("./partials/footer") %>