body {
    background-color: white;
}
.header {
    top: 0px;
    background-color: black;
    padding: 20px;
}

.jumbotron{
    text-align: center;
    width: auto;
    background-color: transparent;
    padding-top: 120px;
    padding-bottom: 120px;
    color: black;
}

.mLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 50%;
}

.slogan {
    font: 15px Verdana, sans-serif;
    padding-top: 40px;
}

#mainCard {
    background-image: url("/images/jumboCard.jpg");
}