/* overview */
html {
    overflow: scroll;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    max-width: 100%;
    min-width: 100%;
    font-family: 'Abel', Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    font-size: 12px;
    background-color: rgba(75, 87, 201, 0.911);
    color: white;
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

.logo{
    width: 15%;
    height: auto;
}

.lower{
    background-color: aliceblue;
}

.navbar{
    background-color: transparent;
}

.navbar a{
    color: rgb(238, 231, 231);
}

.section-sm{
    height: 20vh;
    width: auto;
    border-radius: 1.5%;
}

.section{
    height: 60vh;
    width: auto;
    border-radius: 2%;
    position: relative;
}

.section .slogan{
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.slogan .buy-btn{
    width: 70%;
    height: auto;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.slogan h1{
    font-size:3vw; ;
}

.section p{
    font-weight: 500;
    font-size: 2vh;
}

.product-img{
    height: 45vh;
    width: auto;
    border-radius: 1.5%;
}

.qr{
    width: 100%;
    height: auto;
}

#welcome{
    height: 100%;
    width: auto;
    background-image: url("/images/jumboCard.jpg");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.fa-chevron-circle-down{
    color: #000;
}

.arrow, .arrow:visited, .arrow:hover, .arrow:active {
  color: inherit;
}

