.home{
    height:100vh;
}

.width{
    width:1140px;
}

@media only screen and (max-width: 1240px){
    .width{
        width: 92%;
    }
}

.menuLogo1{
    margin:12.5px;
    margin-left: 0px;
    width:244px;
    height:75px;
}

.menuLogo2{
    margin:12.5px;
    width:107px;
    height:75px;
}

.menu{
    height: 100px;
}

.logos{
    height:75px;
    width:50%;
}


.nav{
    height:75px;
    width:50%;
    text-align: right;
}

.slogan{
    width:50%;
    float:left;
}

.product{
    width:50%;
    float: left;
}

.menuBreak{
    margin:0px;
    width: 100%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}
