.home{
    height:100vh;
}

.width{
    width:80%;
}

.menuLogo1{
    width:244px;
    height:75px;
}

.menuLogo2{
    width:107px;
    height:75px;
}

.logos{
    width:50%;
}

.nav{
    width:50%;
}